.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 50px 0;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.profile-card {
  width: 175px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    width: 175px;
    height: 290px;
    object-fit: cover;
    display: block;
  }
}

.row-section {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0;
}

.cell {
  display: flex;
}
