/*GLOBALA REGLER*/
body {
  margin: 0;
}

/*COLORS*/

$primary-color: #2a5db0;
$link: #2a5db0;
$link-hover: darken($link, 20%);
$grey: #999;
$light-grey: #ccc;
$white: #ffffff;
$black: #000000;

$primary-font: "playfair display";
$secondary-font: "open sans";

/*BREAKPOINT % MIXIN*/

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin respond($point) {
  @if $point == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

/*FONTS*/

%heading-base {
  font-family: $primary-font;
  color: $black;
  font-weight: normal;
  margin: 0;
}

%p-base {
  font-family: $secondary-font;
  color: $black;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3 {
  @extend %heading-base;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

h3 {
  font-size: 0.93em;
  font-weight: bold;
}

p {
  @extend %p-base;
}

/*================SECTIONER===================*/

/*! HERO */

$hero-w: 100%;
$hero-h: auto;
$hero-ratio: $hero-w / $hero-h;

.hero {
  width: $hero-w;
  height: $hero-h;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Text section*/

.info-box {
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 1.14em;
  box-sizing: border-box;
  margin: 1.71em;

  @include respond(md) {
    margin: 3.57em;
  }

  @include respond(lg) {
    margin: 3.57em;
  }
}

/*Card section*/
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 16px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.profile-card {
  width: 175px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    width: 175px;
    height: 290px;
    object-fit: cover;
    display: block;
  }
}

/*Card section*/
.row-section {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0;
}

.cell {
  display: flex;
}

/*FOOTER*/

#footer {
  width: 100%;
  border-top: 2px solid #999;
  margin: 20px 0 20px; // Linjen ovanför footern

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
  }

  .footer-cell {
    margin: 10px 0 10px;
  }
}
