@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

/*COLORS*/

$primary-color: #2a5db0;
$link: #2a5db0;
$link-hover: darken($link, 20%);
$grey: #999;
$light-grey: #ccc;
$white: #ffffff;
$black: #000000;

$primary-font: "playfair display";
$secondary-font: "open sans";

/*Padding*/

$padding-sm: 1.14em;
$padding-md: 1.71em;
$padding-lg: 2.29em;

/*Margin*/

$margin-sm: 1.75em;
$margin-md: 2.75em;
$margin-lg: 3.75em;

/*BREAKPOINT*/

/* Mobil */
@media (max-width: 599px) {
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
}

/*FONTS*/

%heading-base {
  font-family: $primary-font;
  color: $black;
  font-weight: normal;
  margin: 0;
}

%p-base {
  font-family: $secondary-font;
  color: $black;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  @extend %heading-base;
}

h1 {
  font-family: Open Sans, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.1875rem;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  
}

h3 {
  font-size: 19px;
  font-weight: bold;
}

h4 {
  font-size: 0.93em;
}

p {
  @extend %p-base;
}

/* Mobil */
@media (max-width: 599px) {
  h2 {
    font-size: 0.7em;
  }
  h3 {
    font-size: 1em;
  }

  /* Tablet */
  @media (min-width: 600px) and (max-width: 1024px) {
    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.4em;
    }
  }
}

/*================SECTIONER===================*/

/*! HEADER STYLES */

#header {
  width: 110%;
  height: 130px;
  overflow: hidden;
  background: white;
  display: block;
  margin-left: -5%;
  padding-top: 10px;

  /*Breakpoint for when menu can't fit the screen anymore*/
  @media screen and (max-width: 1024px) {
    padding: 2%;
    box-sizing: border-box;
    height: auto;
    position: relative;
  }

  /*#header h1*/
  h1 {
    vertical-align: middle;
    display: inline-block;
    padding: 0 5%;
    @include size(35, 40);
    margin-bottom: 5px;
  }

  nav#menu {
    display: block;
    width: 90%;
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    padding-left: 5%;
    padding-right: 5%;

    /*Breakpoint for when menu can't fit the screen anymore*/
    @media screen and (max-width: 1024px) {
      min-width: auto;
      max-height: 0px;
      @include transition(1s); /*Taken fomr mixin.scss*/

      li {
        display: none !important;
      }

      /*Open menu*/
      &.responsive {
        width: 100%;
        max-height: 1000px;
        @include transition(1s); /*Taken fomr mixin.scss*/

        li {
          &:not(:last-child) {
            float: none;
            display: block !important;
            text-align: left;
            padding: 1% 0;
            border-top: 1px solid $light-grey;
            margin: 0;
            margin-left: -5%;
            padding-left: 5%;
          }

          &:first-child {
            border-top: 0;
          }

          a.current {
            padding-bottom: 6px;
          }
        }
      }
    } /*Close @media screen and (max-width: 1190px)*/

    ul {
      display: block;

      li {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        margin: 0 1%;
        font-family: $primary-font;
        @include size(20, 25);

        &:first-child {
          margin-left: 0;
        }

        a.current {
          color: $link-hover;
          border-bottom: 3px solid $link-hover;
          padding-bottom: 16px;
        }

        &.icon {
          display: none;
        }

        &.search input#searchInput {
          background-image: url("/src/assets/searchicon.png");
          background-position: 7px 10px;
          background-repeat: no-repeat;
          width: 160px;
          background-size: 15px auto;
          box-sizing: border-box;
          padding: 5px 5px 5px 30px;
          border: 1px solid $light-grey;
          margin: 12px 0;
          box-shadow: 0 0 0 transparent;
          font-family: $primary-font;
          @include size(20, 25);

          &:focus {
            box-shadow: 0 0 5px $link;
            @include transition(0.3s);
          }
        }

        /*Breakpoint for when menu can't fit the screen anymore*/
        @media screen and (max-width: 1024px) {
          &.icon {
            display: inline-block !important;
            position: absolute;
            right: 5%;
            top: 30px;

            a {
              font-size: 20px;
            }
          }
        } /*@media screen and (max-width: 1190px)*/

        // Smartphones
        @media (max-width: 870px) {
          &.icon {
            top: 15px;
          }
        }
      } /*Close li*/
    } /*Close ul*/
  } /*Close nav#menu*/
} /*Close #header*/


/* HERO */

$hero-w: 100%;
$hero-h: auto;
$hero-ratio: $hero-w / $hero-h;

.hero {
  width: $hero-w;
  height: $hero-h;
  margin: 0 auto;
}

img {
  width: 130%;
  height: auto;
  object-fit: cover;
  display: block;
}

/*Text section*/

.info-box {
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 1.14em;
  box-sizing: border-box;
  margin: 0px;
  margin-top: $margin-lg;

  /* Mobil */
  @media (max-width: 599px) {
    margin: $margin-sm;
  }

  /* Tablet */
  @media (min-width: 600px) and (max-width: 1024px) {
    margin: $margin-md;
  }
}

/* Card section */

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 107px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Desktop: 6 per rad, fyller containern via 1fr-kolumner */
.card-section {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: $padding-md; /* jämnt avstånd horisontellt & vertikalt */
 margin-bottom: 57px;
}

/* Kortet */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.79em;

  /* Bilden fyller kolumnen och behåller proportioner */
  img {
    width: 100%;
    aspect-ratio: 175 / 290; /* motsvarar ~din tidigare 175x290 */
    object-fit: cover;
    display: block;
  }
}

/* Mobil (≤599px): 2 per rad med full utfyllnad */
@media (max-width: 599px) {
  .main-section {
    margin: $margin-sm;
  }

  .card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    margin: $margin-md; /* valfritt: inner-marginal runt gridden */
  }
}

/* iPad / Tablet (600–1023px): 4 per rad (→ 3 rader vid 12 items), fyller containern */
@media (min-width: 600px) and (max-width: 1024px) {
  .card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    margin: $margin-md; /* valfritt */
  }
}

/*Card section*/

.row-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: $padding-md 0;

}

.cell {
  display: flex;
  max-height: 86px;
}

/* Mobil */
@media (max-width: 599px) {
  .row-section {
    margin: $margin-sm;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .row-section {
    margin: $margin-md;
  }
}

/* Main-cell - Get in touch */

#main-cell {
  width: 90%;
  margin: 0 5% 0 5%;

  .main-cell-title {
    margin-top: 50px;
  }

  .main-cell-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
   margin-top: 40px;
   margin-bottom: 65px;
  }

  iframe {
    width: 100%;
  }
  .main-cell {
    margin: 0 10px;
  }

.main-cell-i {
  display: flex;
  align-items: flex-end;
  height: 85px;

  .ikon {
    margin: 0 0 0 5px;
  }
}

  h3 {
    margin-bottom: 20px;
  }
}

/* Mobil */
@media (max-width: 599px) {
  #main-cell .main-cell-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $margin-sm;
  }
  .main-cell {
    text-align: center;
  }

}


/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .main-cell-container {
    margin: $margin-md;
  }
}


/*FOOTER*/

#footer {
  width: 100%;
  border-top: 2px solid #999;
  margin: 20px 0 20px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 54px;
  }

  .footer-cell {
    margin: 10px 0 10px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

/* Mobil */
@media (max-width: 599px) {
  #footer .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $margin-sm;
  }
  .footer-cell {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .footer-container {
    margin: $margin-md;
  }
}

