/*GLOBALA REGLER*/
body {
  margin: 0;
}

/*COLORS*/

$primary-color: #2a5db0;
$link: #2a5db0;
$link-hover: darken($link, 20%);
$grey: #999;
$light-grey: #ccc;
$white: #ffffff;
$black: #000000;

$primary-font: "playfair display";
$secondary-font: "open sans";

/*Padding*/

$padding-sm: 1.14em;
$padding-md: 1.71em;
$padding-lg: 2.29em;

/*Margin*/

$margin-sm: 1.75em;
$margin-md: 2.75em;
$margin-lg: 3.75em;

/*BREAKPOINT*/

/* Mobil */
@media (max-width: 599px) {
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
}

/*FONTS*/

%heading-base {
  font-family: $primary-font;
  color: $black;
  font-weight: normal;
  margin: 0;
}

%p-base {
  font-family: $secondary-font;
  color: $black;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3 {
  @extend %heading-base;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

h3 {
  font-size: 0.93em;
}

p {
  @extend %p-base;
}

/* Mobil */
@media (max-width: 599px) {
  h1 {
    font-size: 0.7em;
  }
  h2 {
    font-size: 1em;
  }

  /* Tablet */
  @media (min-width: 600px) and (max-width: 1023px) {
    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1.4em;
    }
  }
}

/*================SECTIONER===================*/

/* HERO */

$hero-w: 100%;
$hero-h: auto;
$hero-ratio: $hero-w / $hero-h;

.hero {
  width: $hero-w;
  height: $hero-h;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Text section*/

.info-box {
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 1.14em;
  box-sizing: border-box;
  margin: $margin-lg;

  /* Mobil */
  @media (max-width: 599px) {
    margin: $margin-sm;
  }

  /* Tablet */
  @media (min-width: 600px) and (max-width: 1023px) {
    margin: $margin-md;
  }
}

/*Card section*/

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: $margin-lg;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: $padding-md;
}

.profile-card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.79em;

  img {
    width: 175px;
    height: 290px;
    object-fit: cover;
    display: block;
  }
}

/* Mobil */
@media (max-width: 599px) {
  .main-section {
    margin: $margin-sm;
  }

  .profile-card img {
    width: 150px;
    height: 265px;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .card-section {
    margin: $margin-md;
  }
  img {
    width: 120px;
    height: 90px;
  }
}

/*Card section*/

.row-section {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: $padding-md 0;
  margin: $margin-lg;
}

.cell {
  display: flex;
  max-height: 86px;
}

/* Mobil */
@media (max-width: 599px) {
  .row-section {
    margin: $margin-sm;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .row-section {
    margin: $margin-md;
  }
}

/*FOOTER*/

#footer {
  width: 100%;
  border-top: 2px solid #999;
  margin: 20px 0 20px; // Linjen ovanför footern

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
  }

  .footer-cell {
    margin: 10px 0 10px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

/* Mobil */
@media (max-width: 599px) {
  #footer .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $margin-sm;
  }
  .footer-cell {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .footer-container {
    margin: $margin-md;
  }
}
