/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "card.scss";

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  width: 90%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

/*------FOOTER-----*/

#footer {
  width: 100%;
}

.info-box {
	background-color: $white;
	margin-bottom: 50px;
	margin-left: 107px;
	margin-right: 107px;
	max-width: 1440px;
	box-sizing: border-box;
	}

.info-box__title {
	color: $black;
	}

.info-box__.info-box__text {
  font-size: 14px;
  color: $black;
}

@media (max-width: 480px) {
  .info-box {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

}